body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    color: #333;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

.tarjeta {
    background-color: #f4f4f4;
    padding: 25px;
    width: 350px; 
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta h2 a {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

.tarjeta h2 a:hover {
    color: #777;
}

.tarjeta img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.tarjeta p {
    color: #777;
    font-size: 0.9em;
    margin-top: 10px;
}

.tarjeta p span {
    color: #333;
    font-weight: bold;
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #f4f4f4;
    padding: 10px;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
    border-bottom: 1px solid #999;
}

.hamburger {
    display: flex;
    align-items: center;
    color: white; 
    font-weight: bold;
    font-size: 20px; 
    margin-right: 15px;
}

.hamburger img {
    width: 30px; 
    margin-right: 10px; 
}

.titulo {
    flex: 1; 
    color: #2d79c4; 
    text-align: center; 
    font-weight: bold; 
    font-size: 40px;
    margin-left: 180px; 
}

.nav-links {
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
    z-index: 999;
}

.nav-links.active {
    transform: translateX(0); 
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    padding: 10px;
}

.nav-links li a {
    color: #333; 
    text-decoration: none; 
}

.nav-links li a:hover {
    text-decoration: underline; 
}

.close-btn {
    font-size: 24px; 
    color: #333;
    cursor: pointer; 
    text-align: right; 
    padding: 10px; 
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid black;
    overflow: hidden;
    max-width: 250px;
    margin: 0 auto; 
    background-color: black;
    margin-bottom: 17px;
}

.search-form .buscador {
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    min-width: 0;
}

.search-form:hover .buscador {
    border: 1px solid black;
}

.search-form:hover button {
    border: 1px solid black;
}

.search-form button {
    background-color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px;
}

.search-form button img {
    width: 24px; 
    height: 24px;
    filter: invert(1);

}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon img {
    width: 26px;
    cursor: pointer;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.paginacion a, .paginacion span {
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
    color: #2d79c4;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.paginacion a:hover {
    background-color: #2d79c4;
    color: #fff;
}

.paginacion .paginaActual {
    background-color: #2d79c4;
    color: #fff;
    font-weight: bold;
}

.usuario-logueado, .registro-login {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
}

.usuario-logueado span, .usuario-logueado a, .registro-login a {
    color: #2d79c4;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.usuario-logueado span {
    display: flex;
    align-items: center;
    color: #333;
}
.usuario-logueado a:hover, 
.registro-login a:hover {
    background-color: #2d79c4;
    color: #fff;
}

.usuario-logueado a {
    color: #ff6347;
}

.usuario-logueado a:hover {
    background-color: #ff6347;
    color: #fff;
}

.registro-login, .usuario-logueado {
    margin-right: 20px;
}

.foto-perfil {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 8px; 
    object-fit: cover;
}